<h1>Listing category_galeries</h1>

<table>
  <tr>
    <th>Titlecategory</th>
    <th>Desc</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @category_galeries.each do |category_galery| %>
  <tr>
    <td><%= category_galery.titleCategory %></td>
    <td><%= category_galery.desc %></td>
    <td><%= link_to 'Show', category_galery %></td>
    <td><%= link_to 'Edit', edit_category_galery_path(category_galery) %></td>
    <td><%= link_to 'Destroy', category_galery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Category galerie', new_category_galery_path %>
