<%= form_for @partenaire, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :nomPartenaire, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nomPartenaire, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :telephone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :telephone, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :descPartenaire, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :descPartenaire, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                partenaires_path, :class => 'btn' %>
  </div>
<% end %>
