<%- model_class = Lieu -%>
<div class="page-header">
  <h3>Listes des lieux enregistrés</h3>
</div>


<% if @lieus.size == 0   %>
    <div class="alert alert-success">
      <a class="close" data-dismiss="alert">×</a>
      Liste des lieux est vide.

      <%= link_to t('.new', :default => t("helpers.links.new")),
                  new_lieu_path,
                  :class => 'btn btn-primary' %>
    </div>
<% else %>

<table class="table ">

  <tr>
    <td>Titre du lieu</td>
    <td>Région</td>
    <td>Description</td>
    <td>Actions</td>
  </tr>

  <% @lieus.each do |lieu| %>
      <tr>

        <td><%= link_to lieu.nomLieu, lieu_path(lieu) %></td>
        <td><%= lieu.NomRegion %></td>
        <td><%= lieu.descLieu %></td>

        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_lieu_path(lieu), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      lieu_path(lieu),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
  <% end %>

</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_lieu_path,
            :class => 'btn btn-primary' %>
<% end %>