<h1>Listing galeries</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Picture</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @galeries.each do |galery| %>
  <tr>
    <td><%= galery.title %></td>
    <td><%= galery.picture %></td>
    <td><%= link_to 'Show', galery %></td>
    <td><%= link_to 'Edit', edit_galery_path(galery) %></td>
    <td><%= link_to 'Destroy', galery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Galerie', new_galery_path %>
