<%- model_class = Annonce -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<% if @annonces.size == 0 %>
  <div class="alert alert-success">
      <a class="close" data-dismiss="alert"></a>
      Liste des annonces est vide.

    <%= link_to t('.new', :default => t("helpers.links.new")),
                new_annonce_path,
                :class => 'btn btn-primary' %>
  </div>
<% else %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:titleAnnonce) %></th>
      <th><%= model_class.human_attribute_name(:descAnnonce) %></th>
      <th><%= model_class.human_attribute_name(:date_debut) %></th>
      <th><%= model_class.human_attribute_name(:date_fin) %></th>
      <th><%= model_class.human_attribute_name(:categoryAnnonce_id) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @annonces.reverse.each do |annonce| %>
      <tr>
        <td><%= link_to annonce.id, annonce_path(annonce) %></td>
        <td><%= annonce.titleAnnonce %></td>
        <td><%= annonce.descAnnonce %></td>
        <td><%= annonce.date_debut %></td>
        <td><%= annonce.date_fin %></td>
        <td><%= annonce.categoryAnnonce_id %></td>
        <td><%= annonce.user_id %></td>
        <td><%=l annonce.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_annonce_path(annonce), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      annonce_path(annonce),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_annonce_path,
            :class => 'btn btn-primary' %>
<% end %>